python==3.9.23
conda install -c conda-forge polyscope
conda install conda-forge::scikit-learn==1.6.1
conda install conda-forge::trimesh==4.7.1
conda install conda-forge::pyglm==2.8.2
conda install conda-forge::numba==0.60.0
conda install conda-forge::pygltflib==1.16.5
conda install conda-forge::scikit-learn-extra==0.2.0
conda install conda-forge::networkx==3.2.1
conda install conda-forge::opencv==4.8.1
pip install meshlib==3.0.6.229
pip install rectpack==0.2.2